<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

#Data System Tools and Ecosystem

# Data Science Tools and Ecosystem

one of the commonly used libraries used by Data Scientists include:
1. Python
2. C Languages
3. Java Script

one of the commonly used libraries used by Data Scientists include:
1. Pyanda
2. R
3. Scala
4. Java

some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. C++

| Data Science Tools|
| ------------------|
|cassandra          | 
|MongoDB            |
|Hadoop             |
|CouchDB            |

## Below are a few examples of evaluating arithmetic expressions in Python
2+2 = 4

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
minute = 200
hour = minute/6
print(hour)

33.333333333333336

**Objectives:** 
- MongoDB
- MySQL
- elastic search
- Hadoop HDFS
- Jupyter

## author
Burak VAROL